In [ ]:
# read web table into pandas DF
import pandas as pd


ciaLink1='https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison'
carbon=pd.read_html(ciaLink1, # link
                        header=0, # where is the header?
                        flavor='bs4')[0] # and which table?

In [ ]:
carbon

,Rank,Pays,CO2,Date
0,1,China,13506000000,2022 est.
1,2,United States,4941000000,2022 est.
2,3,India,2805000000,2022 est.
3,4,Russia,1840000000,2022 est.
4,5,Japan,1049000000,2022 est.
...,...,...,...,...
213,214,Montserrat,26000,2022 est.
214,215,"Saint Helena, Ascension, and Tristan da Cunha",13000,2022 est.
215,216,Antarctica,12000,2022 est.
216,217,Niue,8000,2022 est.
217,218,Northern Mariana Islands,0,2019 est.

# Quel type de donnÃ©es

In [ ]:
print(carbon.CO2.dtype)

int64

# Supprimer *colonne*

In [ ]:
carbon=carbon.drop(columns=['Rank'])

# **Renommer**

In [ ]:
carbon = carbon.rename(columns={
    'Country': 'Pays','metric tonnes of CO2':'CO2','Date of Information':'Date'})
carbon

                                              Pays          CO2       Date
0                                            China  13506000000  2022 est.
1                                    United States   4941000000  2022 est.
2                                            India   2805000000  2022 est.
3                                           Russia   1840000000  2022 est.
4                                            Japan   1049000000  2022 est.
..                                             ...          ...        ...
213                                     Montserrat        26000  2022 est.
214  Saint Helena, Ascension, and Tristan da Cunha        13000  2022 est.
215                                     Antarctica        12000  2022 est.
216                                           Niue         8000  2022 est.
217                       Northern Mariana Islands            0  2019 est.

[218 rows x 3 columns]

# DÃ©tecter des trucs, remplacer des symboles

Liste tout ce qui commence qui commence ou fini par un espace

In [ ]:
carbon.Pays[carbon.Pays.str.contains(pat=r'(^\s|\s$)')]

<ipython-input-81-6e54413014e4>:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  carbon.Pays[carbon.Pays.str.contains(pat=r'(^\s|\s$)')]

4     Test
Name: Pays, dtype: object

remplace mais Ã§a marche pas

In [ ]:
carbon.Pays.str.replace(pat=r'(^\s|\s$)',repl='', regex=True)

0                                              China
1                                      United States
2                                              India
3                                             Russia
4                                               Test
                           ...
213                                       Montserrat
214    Saint Helena, Ascension, and Tristan da Cunha
215                                       Antarctica
216                                             Niue
217                         Northern Mariana Islands
Name: Pays, Length: 218, dtype: object

In [ ]:
carbon.Pays[carbon.Pays.str.contains(pat=r'(^\s|\s$)')]

<ipython-input-92-6e54413014e4>:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  carbon.Pays[carbon.Pays.str.contains(pat=r'(^\s|\s$)')]

4     Test
Name: Pays, dtype: object

**enleve les caractÃ¨re spÃ©ciaux dans des cononne de nombre avant de les passer en float mais la ca marche pas c'est dÃ©jÃ  en float**
```

In [ ]:
carbon.co2[carbon.CO2.str.contains(r'[^0-9.-]')]

AttributeError: 'Series' object has no attribute 'contains'

# Enlever les espace au dÃ©but et Ã  la fin uniquement sur les sÃ©ries object

marche pas

In [ ]:
carbon.Pays.str.strip()
carbon.Date.str.strip()

0      2022 est.
1      2022 est.
2      2022 est.
3      2022 est.
4      2022 est.
         ...
213    2022 est.
214    2022 est.
215    2022 est.
216    2022 est.
217    2019 est.
Name: Date, Length: 218, dtype: object

chercher tous ceux en deux mots

In [ ]:
carbon.Pays[carbon.Pays.str.contains(pat=r' ')]

1                                      United States
4                                               Test
8                                       Korea, South
9                                       Saudi Arabia
12                                      South Africa
15                                  Turkey (Turkiye)
16                                    United Kingdom
23                              United Arab Emirates
44                                         Hong Kong
53                                      Korea, North
68                               Trinidad and Tobago
70                                       New Zealand
74                                Dominican Republic
77                            Bosnia and Herzegovina
81                                         Sri Lanka
90                                       Puerto Rico
100                                    Cote d'Ivoire
115                                      El Salvador
118                                       Costa Rica
127                                  North Macedonia
133                                     Burkina Faso
135                                    New Caledonia
137                                 Papua New Guinea
140                                       Gaza Strip
141                                        West Bank
142                Congo, Democratic Republic of the
144                                Equatorial Guinea
148                                     Bahamas, The
151                           Congo, Republic of the
155                                   Virgin Islands
159                                      South Sudan
164                                     Sierra Leone
167                                      Wake Island
171                                 French Polynesia
173                                    Faroe Islands
176                              Antigua and Barbuda
178                                   Cayman Islands
180                                       Cabo Verde
185                                      Saint Lucia
188                                      Gambia, The
190                                   American Samoa
194                                  Solomon Islands
195                         Central African Republic
197    United States Pacific Island Wildlife Refuges
198                                 Marshall Islands
199                            Saint Kitts and Nevis
201                 Saint Vincent and the Grenadines
202                         Turks and Caicos Islands
203                           British Virgin Islands
205                  Micronesia, Federated States of
206                            Sao Tome and Principe
208                                     Cook Islands
211                        Saint Pierre and Miquelon
212                Falkland Islands (Islas Malvinas)
214    Saint Helena, Ascension, and Tristan da Cunha
217                         Northern Mariana Islands
Name: Pays, dtype: object

Extraire les nombres d'une colone

In [ ]:
carbon.Date=carbon.Date.str.extract(pat=r'(\d+)', expand=False)
carbon

                                              Pays          CO2  Date
0                                            China  13506000000  2022
1                                    United States   4941000000  2022
2                                            India   2805000000  2022
3                                           Russia   1840000000  2022
4                                            Japan   1049000000  2022
..                                             ...          ...   ...
213                                     Montserrat        26000  2022
214  Saint Helena, Ascension, and Tristan da Cunha        13000  2022
215                                     Antarctica        12000  2022
216                                           Niue         8000  2022
217                       Northern Mariana Islands            0  2019

[218 rows x 3 columns]

In [ ]:
carbon.Date = carbon.Date.astype(int)
type(carbon.Date[0])

numpy.int64